.header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.title{
    color: white !important;
    margin-right: 50px;
    margin-left: 10px;
}